<h1>Bienvenido/a {{ user.first_name }} {{ user.last_name }}</h1>
<h3>Lista de productos</h3>

{{#each products.payload}}
  <div >
    <p>Id: {{this._id}}</p>
    <p>Title: {{this.title}}</p>
    <p>Description: {{this.description}}</p>
    <p>Price: {{this.price}}</p>
    <p>Status: {{this.status}}</p>
    <p>Code: {{this.code}}</p>
    <p>Stock: {{this.stock}}</p>
    <button id="{{this._id}}" type="button">Agregar al carrito</button>
  </div>
{{/each}}<br /><br />

{{#if hasPrevPage}}
    <button><a href="/products?page={{prevPage}}">Anterior</a></button>
{{/if}}

{{#if hasNextPage}}
    <button><a href="/products?page={{nextPage}}">Siguiente</a></button>
{{/if}}

<script src="js/products.js"></script> 
